.following-column {
  display: none;
}

@media (min-width: 1024px) {
  .following-column {
    display: block;
  }
}

.search-name {
  display: flex;
  justify-content: space-around;
}
.search-name p {
  margin: 0 3px;
}
