.notification-table img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.notification-table {
  width: 50%;
  table-layout: auto;
  margin: 0 auto;
}

.notification-table .notifications-info {
  display: flex;
  width: 100%;
  text-align: left;
}
.notifications-info p {
  width: 00px;
}
.notification-table .notifications-btn-delete {
  padding: 10px;
  text-align: center;
  width: 100px;
}
.notification-table tr {
  display: flex;
}

.notification-table p {
  width: 200px;
}

.notifications-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);

  background-color: rgb(0, 0, 0, 0.4);
}

.notifications-menu .notification {
  border-radius: 10px;
  border: 1px solid #3b945e;
  height: 250px;
  overflow: auto;
  width: 90%;
}
