html,
body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

nav.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 20px;
  background: #57ba98;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.dashboard img {
  height: 100px;
  width: 100px;
}
.dashboard {
  background-color: #f2f2f2;
}

.profile img {
  height: 100px;
  width: 100px;
}
.btn {
  width: 100px;
  margin: auto 0;
  height: 45px;
  border-radius: 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: #f2f2f2;
  background-color: #3b945e;
}

.profile-link img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.profile-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile-link td {
  margin: 15px 22px;
  width: 30px;
}
.notifications {
  display: flex;
  flex-direction: column;
}

#new-notification {
  position: absolute;
  left: 100px;
  width: 70%;
  z-index: 1;
}

.notifications-menu {
  position: fixed;
  left: 10vw;
  top: 100px;
  width: auto;
  padding: 20px;
  z-index: 1;
  background-color: #57ba98;
  opacity: 0.95;
  border-radius: 10px;
}
.button-group {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

.card-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto 5px;
}

.likes {
  position: absolute;
  width: 200px;
  height: 180px;
  top: 210px;
  left: 70px;
  opacity: 0.9;
  background-color: #f2f2f2;

  border: 1px solid black;
}

/* To display popup likes */

.card-details {
  height: 800px;
}

.search input {
  width: 85%;
  margin: 20px auto;
}
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.search h1 {
  margin: 0 auto;
}

.search table {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.card {
  margin: 20px 0;
}

.admin-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.admin-message > p {
  margin: 10px 5px;
  height: auto;
  width: 45%;
  padding: 15px;
  background-color: #57ba98;
  word-wrap: break-word;
  border-radius: 15px;
}
.admin-message div {
  margin: 0 5px;

  font-size: 0.6rem;
}
.user-message div {
  margin: 0 5px;

  font-size: 0.6rem;
}

.user-message {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}
.user-message p {
  margin: 10px 5px;
  height: auto;
  width: 45%;
  padding: 15px;
  background-color: #f2f2f2;
  word-wrap: break-word;

  border-radius: 15px;
}

.message-preview {
  display: flex;
  align-items: center;
}

.message-name {
  width: 100%;
  border-bottom: 0.1rem solid #57ba98;
  margin-left: 10px;
}

.message-info {
  display: flex;
  justify-content: space-between;
}
.message-info .message-date {
  margin-right: 5px;
}
.message-info div {
  display: flex;
  margin-right: 5px;
}

.send-message input {
  width: 70%;
}
.send-message {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 75px;
}

.seen {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  margin: 0 10px;
}

.settings-menu {
  margin: 30px 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  background-color: #f2f2f2;
}
.setting-menu .btn {
  font-size: 0.4rem;
}

.profile-header {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.profile-header img {
  border-radius: 50%;
}

.settings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

html,
body,
#root,
#root > div,
.search {
  height: 100%;
  background-color: #f2f2f2;
}

#nav-space {
  height: 130px;
  background-color: #f2f2f2;
}

.comments h3 {
  font-size: 1rem;
  margin-left: 10px;
  font-weight: bold;
}
.comments p {
  font-size: 1rem;
  margin: 5px 10px 10px 10px;
}

.comments .comment-header img {
  width: 40px;
  border-radius: 50%;
}
.comments .comment-header {
  display: flex;
  align-items: center;
  /* border-bottom: 0.1rem solid rgb(59, 148, 94, 0.3); */
}
.comment-body {
  margin: 10px 5px;
  height: auto;
  width: 80%;
  padding: 5px;
  background-color: #f2f2f2;
  word-wrap: break-word;
  border-radius: 15px;
}
.comments {
  margin: 10px 0 0 10px;
}

.post input {
  width: 70%;
  padding: 20px 0;
}
.post {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;

  bottom: 75px;
}

.post-form {
  padding-top: 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-around;
}
.dashboard-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.isMessages {
  height: auto;
}

.delete-icon {
  margin: auto 0;
}

.notification-item {
  display: flex;
  justify-content: space-between;
}

.online {
  position: relative;
  top: 5px;
  color: #57ba98;
}

.card-footer-item div {
  margin: 5px;
}

.offline {
  color: lightcoral;
}

.following-link img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.following-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.following-link td {
  margin: 15px 22px;
  width: 100px;
}

.show-posts {
  overflow: scroll;
}

.unread {
  background-color: #57ba98;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unread p {
  text-align: center;
  margin-top: 5px;
}

.comment-body .delete-comment {
  display: flex;
  justify-content: space-between;
}

#home p {
  text-align: center;
  margin: 40px;
}

.nav-home-btn {
  margin: 5px 0;
}

.conversation-details {
  background-color: white;
}
