html,
body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

nav.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 20px;
  background: #57ba98;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.dashboard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.dashboard {
  background-color: #f2f2f2;
  /* height: ; */
}

.profile {
  /* height: 100vh; */
}
.profile img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.btn {
  width: 65px;
  margin: auto 0;
  height: 40px;
  border-radius: 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: #f2f2f2;
  /* background-color: #3b945e; */
  background-color: #57ba98;
}

.profile-link img {
  width: 100px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
}

@media (min-width: 374px) {
  .profile-link {
    width: auto;
  }
}

.profile-link td {
  margin: 15px 22px;
  width: 42px;
}
.notifications {
  display: flex;
  flex-direction: column;
}

#new-notification {
  position: absolute;
  left: 100px;
  width: 70%;
  z-index: 1;
}

.button-group {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

.card-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto 5px;
}

.likes {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);

  background-color: rgb(0, 0, 0, 0.4);
}
/* padding: 10px 0 30px 0;
  height: 40%;
  top: 30%;
  left: 25%;
  opacity: 0.9;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #3b945e; */
.likes .like-content {
  position: fixed;
  top: 100px;
  width: 60%;
  opacity: 0.9;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #3b945e;
}
.close-likes {
  float: right;
}
.likes .like-item {
  border-bottom: 1px solid palevioletred;
  padding: 5px;
  width: 100%;
  text-align: center;
  color: #444444;
}

.like-btn {
  margin-top: 10px;
  font-size: 0.8rem;
  color: palevioletred;
}

.like-btn:hover {
  color: #3b945e;
}

/* To display popup likes */

.card-details {
  height: 800px;
}

.search input {
  width: 85%;
  margin: 20px auto;
}
.search {
  width: 100%;
  padding: 20px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search h1 {
  margin: 0 auto;
}

.search table {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  right: 20px;
}

.search-table-body {
  width: 100%;
}

.search-content h1 {
  text-align: center;
  border-bottom: 1px solid #3b945e;
  padding: 10px;
}
.search-content {
  width: 70%;
}

.card {
  margin: 20px 0;
}

.admin-message {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.5s;
}

.slide-message {
  margin-right: 30px;
}

.delete-message {
  position: relative;
  bottom: 50px;
  right: 10px;
  float: right;
  z-index: 1;
}

.admin-message > p {
  margin: 10px 5px;
  height: auto;
  width: 45%;
  padding: 15px;
  background-color: #57ba98;
  word-wrap: break-word;
  border-radius: 15px;
  color: white;
}
.admin-message div {
  margin: 0 5px;

  font-size: 0.6rem;
}
.user-message div {
  margin: 0 5px;

  font-size: 0.6rem;
}

.user-message {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}
.user-message p {
  margin: 10px 5px;
  height: auto;
  width: 45%;
  padding: 15px;
  background-color: #f2f2f2;
  word-wrap: break-word;

  border-radius: 15px;
}

.message-preview {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.message-name {
  width: 100%;
  border-bottom: 0.1rem solid #57ba98;
  margin-left: 10px;
}
.message-background {
  background: white;
  height: 67vh;
  overflow: auto;
}

.send-message input {
  width: 70%;
}
.send-message {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 75px;
  z-index: 6;
}

.seen {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  margin: 0 10px;
}

.settings-menu {
  margin: 30px 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  background-color: #f2f2f2;
}
.setting-menu .btn {
  font-size: 0.4rem;
}

.profile-header {
  padding: 20px 5px;
  display: flex;
  justify-content: space-around;
}

.profile-header img {
  border-radius: 50%;
  object-fit: cover;
}

.settings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

html,
body,
#root,
#root > div,
.container-side-nav {
  height: auto;
  background-color: #f2f2f2;
}

#nav-space {
  height: 130px;
  background-color: #f2f2f2;
}

.comments h3 {
  font-size: 1rem;
  margin-left: 10px;
  font-weight: bold;
}
.comments p {
  font-size: 1rem;
  margin: 5px 10px 10px 10px;
}

.comments .comment-header img {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.comments .comment-header {
  display: flex;
  align-items: center;
  /* border-bottom: 0.1rem solid rgb(59, 148, 94, 0.3); */
}
.comment-body {
  margin: 10px 5px;
  height: auto;
  width: 80%;
  padding: 5px;
  background-color: #f2f2f2;
  word-wrap: break-word;
  border-radius: 15px;
}
.comments {
  margin: 10px 0 0 10px;
}

.post-form textarea {
  width: 100%;
  margin: 0 0;
  border-radius: 10px;
  height: 50px;
  padding: 5px;
  font-size: 1.1rem;
  border: none;
  background-color: #f2f2f2;
}
/* .post-form textarea {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  height: 50px;
  padding: 5px;
  font-size: 1.1rem;
  border: 1px solid #3b945e;
} */

.post-form input {
  margin: 0 auto;
  width: 80%;
}
.post {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;

  bottom: 75px;
}

.post-form {
  padding-top: 40px;
}
.post-form .post-main {
  border: 0.1rem solid rgb(59, 148, 94, 0.4);
}

.post-main .post-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

#post-details {
  padding-top: 5px;
  height: auto;
}

.post-comment {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.post-comment input {
  margin: 0 5px;
  width: 70%;
  height: 35px;
  font-size: 1.1rem;
  border: none;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 0 5px;
}
#comment-btn:hover {
  background-color: #f2f2f2;
  color: #3b945e;
}

.dashboard-header {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}
.dashboard-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.isMessages {
  height: auto;
}

.delete-icon {
  margin: auto 0;
}

.notification-item {
  margin: 10px 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.notification-item img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  object-fit: cover;
}

/* .notification-delete {
  margin: 0 15px;
  float: right;
} */
.online {
  position: relative;
  top: 5px;
  color: #57ba98;
}

.card-footer-item div {
  margin: 5px;
}

.offline {
  color: lightcoral;
}

.following-link img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.following-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.following-link td {
  margin: 15px 22px;
  width: 100px;
}

.show-posts {
  overflow: scroll;
}

.message-info .unread {
  background-color: #57ba98;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unread p {
  text-align: center;
  margin-top: 5px;
}

.comment-body .delete-comment {
  display: flex;
  justify-content: space-between;
}

#home p {
  text-align: center;
  margin: 40px;
}

.nav-home-btn {
  margin: 5px 0;
}

.conversation-details {
  background-color: white;
}

.conversations {
  color: #444444;
}

.date {
  margin: 2px 5px 0 7px;
  font-size: 0.5rem;
}

.join-date {
  font-size: 0.7rem;
}

.post-input-section {
  display: flex;
}

.conversation-list {
  height: 100vh;
  padding: 20px 20px;
}

.post-main .large-img {
  position: relative;
  top: 0;
  z-index: 2;
  margin: 0 auto;
  width: 70%;
  height: auto;
  border-radius: 10px;
}

html {
  background-color: #f2f2f2;
}

.profile-post-form {
  padding: 0;
}

.no-info {
  text-align: center;
}

.login-error {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  animation-delay: 1s;
}

@media (min-width: 1000px) {
  nav.navbar {
    display: block;
    padding: 10px 15px;
    background: #f2f2f2;
    overflow: hidden;
    position: sticky;
    top: 0px;
    bottom: 0;
    width: auto;
    height: 180px;
    border-radius: 10px;
    /* color: #f2f2f2; */
  }

  .container-side-nav {
    display: flex;
    justify-content: space-between;
  }
  .container-side-nav .side-nav-pages {
    width: 100%;
  }
  #home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #home p {
    font-size: 1.2rem;
    width: 80%;
    margin: 30px auto;
  }
  #home img {
    width: 45%;
    margin: 0 auto;
    border-radius: 50%;
  }
}

.zero-conversation {
  text-align: center;
  font-size: 1.1rem;
  animation-delay: 0.5s;
}

.outline {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid white;
  border-radius: 5px;
}

.post-form .code-input {
  margin: 5px auto;
  font-family: monospace;
}

.typing {
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #57ba98;
  border-radius: 12px;
  margin: 10px 0 10px 20px;
}

.dots {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #444;
  position: relative;
}

.dot1 {
  animation: type 1s ease-in-out infinite;
}
.dot2 {
  animation: type 1s ease-in-out 0.05s infinite;
}
.dot3 {
  animation: type 1s ease-in-out 0.1s infinite;
}

@keyframes type {
  0% {
    top: 0;
  }
  25% {
    top: 5px;
  }
  /* 50% {
    top: 0;
  } */
  75% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}

.conversation-list-and-details {
  display: flex;
  height: 74vh;
}
.link-to-desktop-conversations {
  display: none;
}

h2.link-to-desktop-conversations {
  text-align: center;
  position: relative;
  top: 100px;
}

.see-more-button {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: none;
}
.see-more-button:hover {
  background-color: #57ba98;
}

@media (min-width: 1023px) {
  .link-to-conversation {
    display: none;
  }
  .link-to-desktop-conversations {
    display: block;
    width: 100%;
  }
  .message-preview {
    width: 320px;
  }
  .conversation-details {
    width: 100%;
  }
  .conversation-details .send-message {
    width: 50%;
  }
}
