html,
body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

nav.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 20px;
  background: #57ba98;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.dashboard img {
  height: 100px;
  width: 100px;
}
.dashboard {
  background-color: #f2f2f2;
}

.profile img {
  height: 100px;
  width: 100px;
}
.btn {
  width: 100px;
  margin: auto 0;
  height: 45px;
  border-radius: 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: #f2f2f2;
  background-color: #3b945e;
}

.profile-link img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.profile-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile-link td {
  margin: 0 20px;
  width: 30px;
}

.button-group {
  margin-bottom: 30px;
}

.card-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto 0;
}

.likes {
  position: absolute;
  width: 200px;
  height: 180px;
  top: 210px;
  left: 70px;
  opacity: 0.9;
  background-color: #f2f2f2;

  border: 1px solid black;
}

/* To display popup likes */

.card-details {
  height: 800px;
}

.search input {
  width: 80%;
  margin: 20px auto;
}

.card {
  margin: 20px 0;
}

.admin-message {
  display: flex;
  justify-content: flex-end;
}
.admin-message p {
  margin: 10px;
  height: auto;
  width: 200px;
  padding: 15px;
  background-color: #57ba98;

  border-radius: 15px;
}

.user-message {
  display: flex;
  justify-content: flex-start;
}
.user-message p {
  margin: 10px;
  height: auto;
  width: 200px;
  padding: 15px;
  background-color: #f2f2f2;

  border-radius: 15px;
}

.message-preview {
  display: flex;
  align-items: center;
}

html,
body,
#root,
#root > div,
.search {
  height: 100%;
}

#nav-space {
  height: 100px;
}
