@media (min-width: 1023px) {
  .post-actions-input .photo-code-buttons-moblie {
    display: none;
  }
  .post-actions-input .photo-code-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.post-actions .photo-code-buttons-moblie {
  position: relative;
  top: 60px;
  right: 20px;
  z-index: 1;
}
.post-actions .photo-code-buttons-moblie div {
  position: fixed;
  display: flex;
  background-color: red;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

.photo-code-buttons {
  display: none;
}

.photo-code-buttons div {
  display: flex;
}

.post-actions-input {
  margin-top: 10px;
}

.post-actions-input button {
  float: right;
  background-color: #f4f4f4;
  color: #444;
}

.post-actions-input button:hover {
  float: right;
  background-color: rgb(87, 186, 152, 0.9);
  color: white;
}

.post-actions-input p {
  float: right;
  background-color: #f4f4f4;
  color: #444;
}
.post-actions-input p:hover {
  background-color: rgb(87, 186, 152, 0.9);
  color: white;
}

.post-actions-input input {
  width: 20px;
  margin: 0;
  opacity: 0;
  z-index: 3;
  position: relative;
  left: -10px;
}
.photo-upload {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 25px;
  background-color: #57ba98;
  border-radius: 50%;
}
.moble-photo-upload {
  display: flex;
}
